.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nominative_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nominative_grid_line {vertical-align: top;text-align: right;}
.css_custdata_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custdata_grid_line {vertical-align: top;text-align: right;}
.css_membdata_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_membdata_grid_line {vertical-align: top;text-align: right;}
.css_persons_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_persons_grid_line {vertical-align: top;text-align: right;}
.css_persons_sub_tot {text-align: right;}
.css_persons_tot_ger {text-align: right;}
.css_tot_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tot_grid_line {vertical-align: top;text-align: right;}
.css_tot_sub_tot {text-align: right;}
.css_tot_tot_ger {text-align: right;}
.css_discount_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_discount_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
.css_strmultiprices_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strmultiprices_grid_line {vertical-align: top;text-align: right;}
.css_ticket_detail_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ticket_detail_grid_line {text-align: center;}
.css_uid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_uid_grid_line {vertical-align: top;text-align: right;}
.css_iditem_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iditem_grid_line {vertical-align: top;text-align: right;}
.css_ts_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ts_grid_line {vertical-align: top;text-align: right;}
