.css_j3x_vikevents_items_price_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_j3x_vikevents_items_price_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_orders_persons_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_j3x_vikevents_orders_persons_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_orders_custdata_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_j3x_vikevents_orders_custdata_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_orders_purchemail_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_j3x_vikevents_orders_purchemail_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_orders_tot_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_j3x_vikevents_orders_tot_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_items_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_j3x_vikevents_items_id_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_items_title_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_j3x_vikevents_items_title_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_orders_iditem_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_j3x_vikevents_orders_iditem_grid_line {vertical-align: top;text-align: right;}
.css_j3x_vikevents_orders_persons_1_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_j3x_vikevents_orders_persons_1_grid_line {vertical-align: top;text-align: right;}
