.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_uid_det_label {text-align: left;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: left;}
.css_iditem_det_label {text-align: left;vertical-align: middle;}
.css_iditem_det_line {height:0px;text-align: left;}
.css_persons_det_label {text-align: left;vertical-align: middle;}
.css_persons_det_line {height:0px;text-align: left;}
.css_ts_det_label {text-align: left;vertical-align: middle;}
.css_ts_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
.css_custdata_det_label {text-align: left;vertical-align: middle;}
.css_custdata_det_line {height:0px;text-align: left;}
.css_membdata_det_label {text-align: left;vertical-align: middle;}
.css_membdata_det_line {height:0px;text-align: left;}
.css_scode_det_label {text-align: left;vertical-align: middle;}
.css_scode_det_line {height:0px;text-align: left;}
.css_idpayment_det_label {text-align: left;vertical-align: middle;}
.css_idpayment_det_line {height:0px;text-align: left;}
.css_totpaid_det_label {text-align: left;vertical-align: middle;}
.css_totpaid_det_line {height:0px;text-align: left;}
.css_tot_det_label {text-align: left;vertical-align: middle;}
.css_tot_det_line {height:0px;text-align: left;}
.css_strmultiprices_det_label {text-align: left;vertical-align: middle;}
.css_strmultiprices_det_line {height:0px;text-align: left;}
.css_purchemail_det_label {text-align: left;vertical-align: middle;}
.css_purchemail_det_line {height:0px;text-align: left;}
.css_bookingday_det_label {text-align: left;vertical-align: middle;}
.css_bookingday_det_line {height:0px;text-align: left;}
.css_couponstr_det_label {text-align: left;vertical-align: middle;}
.css_couponstr_det_line {height:0px;text-align: left;}
.css_checkins_det_label {text-align: left;vertical-align: middle;}
.css_checkins_det_line {height:0px;text-align: left;}
.css_session_det_label {text-align: left;vertical-align: middle;}
.css_session_det_line {height:0px;text-align: left;}
.css_lastupdts_det_label {text-align: left;vertical-align: middle;}
.css_lastupdts_det_line {height:0px;text-align: left;}
.css_paymentlog_det_label {text-align: left;vertical-align: middle;}
.css_paymentlog_det_line {height:0px;text-align: left;}
.css_discount_det_label {text-align: left;vertical-align: middle;}
.css_discount_det_line {height:0px;text-align: left;}
.css_donation_det_label {text-align: left;vertical-align: middle;}
.css_donation_det_line {height:0px;text-align: left;}
.css_nominative_det_label {text-align: left;vertical-align: middle;}
.css_nominative_det_line {height:0px;text-align: left;}
.css_adminnotes_det_label {text-align: left;vertical-align: middle;}
.css_adminnotes_det_line {height:0px;text-align: left;}
.css_lang_det_label {text-align: left;vertical-align: middle;}
.css_lang_det_line {height:0px;text-align: left;}
.css_elder_det_label {text-align: left;vertical-align: middle;}
.css_elder_det_line {height:0px;text-align: left;}
.css_country_det_label {text-align: left;vertical-align: middle;}
.css_country_det_line {height:0px;text-align: left;}
